@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-2">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Total User Count</h3>
                <p class="card-text userCount"></p>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Total eFiles Created</h3>
                <p class="card-text filescreated"></p>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Total eFiles(Active)</h3>
                <p class="card-text filesactive"></p>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Total eFiles(Closed)</h3>
                <p class="card-text filesclosed"></p>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Total eReceipts Created</h3>
                <p class="card-text receiptscreated"></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <hr />
</div>
<div class="row">
    <div class="col-md-12">
        <div id="dashboardGrid">
            <table id="dashboardTable" class="display">
                <thead>
                    <tr style="font-weight:700;font-size:large">
                        <td></td>
                        <td></td>
                        <td>Active Users</td>
                        <td>eFiles Created</td>
                        <td>eFiles (Active)	</td>
                        <td>eFiles (Closed)</td>
                        <td>eReceipt Created</td>
                    </tr>
                </thead>
                <tbody id="dashboardBody">
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script src="~/Js/Dashboard.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        dashboard.getDashboardData();


        //$(document).on('click', '.expand', function () {
        //    dashboard.getInstanceData($(this).data('id'), $(this).data('subdomain'), $(this));
        //});
    });
</script>